[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
jupyter = "*"
matplotlib = "*"
brewer2mpl = "*"
pickle = "*"

[requires]
python_version = "3.6"
